
params {
    genomeDir = "/mnt/e/hg38_index"
    expDir = "$projectDir/raw_data"
    contDir = "$projectDir/reference_data/control_chipseq_k562"


    //TrimGalore config
    trimGalore {
        trimGalorePath = "/usr/bin/trim_galore"
        nThread = 10
    }

    //STAR config
    star {
        nThread = 5
        starPath = "/usr/local/bin/STAR"
    }

}

executor {
    $local {
        cpus = 10
        memory = '28 GB'
    }
}
